<style>
    body{
        font-family: 'Courier New', Courier, monospace;
        padding: 20px;
        background-color:darkred;
        text-align: center;
        color: violet;
    }
    h1{
       color: black;
       text-decoration: overline;
       font-size: 30px;
        
    }
    p{
        font-size: 20px;
        color: blue;
        line-height: 1.5;
    }
    .highlight{
        font-size: 20px;
        color: black;
        font-weight: bold;
        background-color: violet;
        padding: 10px;
        border-radius: 8px;
        

    }
   #unique{
         background-color: yellow;
         padding: 20px;
         border:8px solid black;


    }
    </style>